.formContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 40px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 30px;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.nameFields {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;

  > div {
    flex: 1 1 200px;
  }
}
