:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

button,
input {
  padding: 0.5rem;
  height: 2rem;
  box-sizing: content-box;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

button {
  background-color: black;
  color: white;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.border {
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
